# Base de datos
DB_NAME=crm_interactions_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
DB_POOL_SIZE=10
DB_MAX_OVERFLOW=20

# App
APP_ENV=local
APP_PORT=8002
LOG_LEVEL=INFO

# AWS S3
S3_BUCKET=crm-interactions-attachments
S3_REGION=us-east-1
S3_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
